<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techstack.sms2.course.biz.CourseBiz">
	
	<resultMap id="CourseMap" type="com.techstack.sms2.course.entity.Course">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="COURSE_NAME" property="courseName" />
		<result column="SCORE" property="score" />
		<result column="DESCRIDE" property="descride" />
		<result column="COURSE_TYPE" property="courseType" />
	</resultMap>
	
	<sql id="condition_sql">
		<if test="courseName != null and courseName != ''"> and COURSE_NAME like CONCAT('%', CONCAT(#{courseName}, '%')) </if>
		<if test="courseType != null and courseType != ''"> and COURSE_TYPE = #{courseType}</if>
	</sql>
	
	
	<select id="courseByMajorPage" parameterType="java.util.Map" resultMap="CourseMap">
		SELECT
			c.ID,
			c.VERSION,
			c.CREATE_TIME,
			c.COURSE_NAME,
			c.COURSE_TYPE,
			c.DESCRIDE,
			c.SCORE
		FROM
			COURSE c
		JOIN MAJOR_COURSE mc ON c.ID = mc.COURSE_ID
		WHERE
			mc.MAJOR_ID = #{majorId}
			<include refid="condition_sql" />
		<![CDATA[ order by ID desc ]]>
	</select>
	
	<select id="courseCanSelectByMajorPage" parameterType="java.util.Map" resultMap="CourseMap">
		SELECT
			c.ID,
			c.VERSION,
			c.CREATE_TIME,
			c.COURSE_NAME,
			c.COURSE_TYPE,
			c.DESCRIDE,
			c.SCORE
		FROM
			COURSE c
		LEFT JOIN MAJOR_COURSE mc ON c.ID = mc.COURSE_ID
		WHERE
			mc.MAJOR_ID = #{majorId} OR c.COURSE_TYPE = 2
			<include refid="condition_sql" />
		<![CDATA[ order by ID desc ]]>
	</select>
	
	<select id="courseByStudentPage" parameterType="java.util.Map" resultMap="CourseMap">
		SELECT
			c.ID,
			c.VERSION,
			c.CREATE_TIME,
			c.COURSE_NAME,
			c.COURSE_TYPE,
			c.DESCRIDE,
			c.SCORE
		FROM
			COURSE c
		JOIN STUDENT_COURSE sc ON c.ID = sc.COURSE_ID
		WHERE
			sc.STUDENT_ID = #{studentId}
			<include refid="condition_sql" />
		<![CDATA[ order by ID desc ]]>
	</select>
	
	
	
</mapper>