<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oocl.web.course.biz.StudentBiz">
	
	<resultMap id="StudentMap" type="com.oocl.web.course.entity.Student">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="STUDENT_NO" property="studentNo" />
		<result column="NAME" property="name" />
		<result column="SEX" property="sex" />
		<result column="AGE" property="age" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="IN_SCHOOL_YEAR" property="inSchoolYear" />
		<result column="MAJOR_ID" property="majorId" />
		<result column="MAJOR_NAME" property="majorName" />
		<result column="USER_ID" property="userId" />
		<result column="IS_END_SELECT" property="isEndSelect" />
	</resultMap>
	
	
	<select id="findStudentByUserId" parameterType="long" resultMap="StudentMap">
		select * from STUDENT where USER_ID = #{userId}
	</select>
	
	<select id="getScoreSumForStudent" parameterType="long" resultType="java.math.BigDecimal">
		SELECT
			sum(c.SCORE) AS scoreSum
		FROM
			COURSE c
		JOIN STUDENT_COURSE sc ON c.ID = sc.COURSE_ID
		WHERE
			c.COURSE_TYPE = 1
		AND sc.STUDENT_ID = #{stuId}
	</select>
	
</mapper>